---
// Supports weights 100-800
import { Font } from "astro:assets";
import "~/styles/global.css";
import { SEO } from 'astro-seo';
import Footer from '@components/Footer.astro';
import TopBar from '@components/TopBar.astro';

export interface Props {
  port?: string;
  home?: boolean;
  solid?: boolean;
  meta: {
    title: string;
    description: string;
    image: string;
  };
}

const { port, home, meta, solid } = Astro.props as Props;
---

<!doctype html>
<html lang="en" id="top" class="bg-dark-purple list-decimal scroll-smooth">
  <head>
    <SEO
      title={meta.title}
      description={meta.description}
      openGraph={{
        basic: {
          title: meta.title,
          type: 'website',
          image: meta.image,
        },
      }}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-jetbrains-mono" />
    <script defer src="https://cloud.umami.is/script.js" data-website-id="5e45fe7d-9267-49ac-ab38-a58fd8903bd3"></script>
  </head>
  <TopBar search={home} solid={solid} port={port} />
  <body id="top">
    <slot />
  </body>
  <Footer />
</html>
